<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./stylesheets/output.css">
    <title>Profiles</title>
<body class="bg-zinc-800 text-white select-none">
    <nav class="p-2 bg-zinc-900 flex justify-center md:justify-end gap-11 md:pr-48">
        <a href="/" class="hover:text-blue-500">Home</a>
        <a href="/profiles" class="hover:text-blue-500">Profiles</a>
    </nav>
    <div class = "h-screen w-full px-14 pt-3">
        <span class="pb-12 inline-block text-center tracking-widest min-w-full text-4xl font-regular text-zinc-400">Profiles</span>
            <% if(users.length === 0){ %>
                <span class="pt-16 inline-block text-center tracking-widest min-w-full text-4xl font-regular text-zinc-400">No Profiles Available !!!</span>
            <% }else{ %>
                <div class="flex gap-4 flex-wrap justify-around">
                    <% users.forEach((user)=>{ %>
                        <div class="first-line:h-48 w-96 bg-gradient-to-tr border border-5 border-white from-blue-800 to-lime-800 active:bg-black rounded p-7 flex flex-col justify-between">
                            <span class="block text-light text-xl">Name: <%= user.name %></span>
                            <span class="block text-light text-xl">Age: <%= user.age %></span>
                            <span class="block text-light text-xl">Email: <%= user.email %></span>
                            <div class="flex justify-between mt-6">
                                <a href='/delete/<%= user._id %>'>
                                    <img src="./icons/delete_icon.svg" alt="My Happy SVG" class="hover:scale-[1.1] transition-transform duration-250 invert outline outline-2 outline-black rounded p-1 size-8"/>
                                </a>
                                <a href="/edit/<%= user._id%>">
                                    <img src="./icons/edit_icon.svg" alt="My Happy SVG" class="hover:scale-[1.1] transition-transform duration-250 invert outline outline-2 outline-black rounded p-1 size-8"/>
                                </a>
                            </div>
                        </div>
                    <% }) %>
                </div>
            <% } %>
    </div>
</body>
</html>